.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url('../../../fonts/report/soscoBorang8A/f1.woff');} .ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url('../../../fonts/report/soscoBorang8A/f2.woff');} .ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000pt;}
.lsdc{letter-spacing:-2.008000pt;}
.ls85{letter-spacing:-1.916267pt;}
.ls99{letter-spacing:-1.830400pt;}
.lseb{letter-spacing:-1.823467pt;}
.ls63{letter-spacing:-1.704533pt;}
.ls7c{letter-spacing:-1.698667pt;}
.lsc9{letter-spacing:-1.695467pt;}
.lsa9{letter-spacing:-1.694933pt;}
.lse6{letter-spacing:-1.670933pt;}
.ls97{letter-spacing:-1.608533pt;}
.lsa0{letter-spacing:-1.548800pt;}
.ls96{letter-spacing:-1.475733pt;}
.lse9{letter-spacing:-1.464533pt;}
.lsca{letter-spacing:-1.437867pt;}
.ls93{letter-spacing:-1.437333pt;}
.lse0{letter-spacing:-1.433067pt;}
.ls88{letter-spacing:-1.430933pt;}
.lsc8{letter-spacing:-1.421333pt;}
.ls2f{letter-spacing:-1.411733pt;}
.ls28{letter-spacing:-1.388267pt;}
.ls9b{letter-spacing:-1.361067pt;}
.lsde{letter-spacing:-1.341333pt;}
.ls27{letter-spacing:-1.333867pt;}
.lsd0{letter-spacing:-1.333333pt;}
.ls26{letter-spacing:-1.330133pt;}
.ls81{letter-spacing:-1.326400pt;}
.ls83{letter-spacing:-1.289067pt;}
.lsa8{letter-spacing:-1.287467pt;}
.lsc4{letter-spacing:-1.265600pt;}
.ls4e{letter-spacing:-1.265067pt;}
.lsc6{letter-spacing:-1.254933pt;}
.lscf{letter-spacing:-1.254400pt;}
.lsda{letter-spacing:-1.242133pt;}
.lsbd{letter-spacing:-1.241067pt;}
.lsf1{letter-spacing:-1.232533pt;}
.ls2c{letter-spacing:-1.232000pt;}
.ls91{letter-spacing:-1.227733pt;}
.lsef{letter-spacing:-1.225067pt;}
.lsbc{letter-spacing:-1.209600pt;}
.ls23{letter-spacing:-1.201600pt;}
.lsdd{letter-spacing:-1.200000pt;}
.lsa6{letter-spacing:-1.197867pt;}
.ls4c{letter-spacing:-1.184533pt;}
.ls42{letter-spacing:-1.177067pt;}
.ls9a{letter-spacing:-1.172800pt;}
.ls9d{letter-spacing:-1.167467pt;}
.lsa2{letter-spacing:-1.165867pt;}
.ls16{letter-spacing:-1.158400pt;}
.lsa5{letter-spacing:-1.157333pt;}
.lsce{letter-spacing:-1.154667pt;}
.ls95{letter-spacing:-1.148267pt;}
.ls86{letter-spacing:-1.146667pt;}
.ls9f{letter-spacing:-1.132267pt;}
.ls5b{letter-spacing:-1.123733pt;}
.ls94{letter-spacing:-1.119467pt;}
.ls87{letter-spacing:-1.116267pt;}
.ls2a{letter-spacing:-1.115733pt;}
.ls3a{letter-spacing:-1.114667pt;}
.lsa1{letter-spacing:-1.110933pt;}
.ls98{letter-spacing:-1.102400pt;}
.ls1d{letter-spacing:-1.098667pt;}
.ls79{letter-spacing:-1.092267pt;}
.ls9e{letter-spacing:-1.089600pt;}
.ls1a{letter-spacing:-1.086400pt;}
.lsb7{letter-spacing:-1.085333pt;}
.lsa7{letter-spacing:-1.081600pt;}
.ls59{letter-spacing:-1.072000pt;}
.ls62{letter-spacing:-1.070400pt;}
.lsf0{letter-spacing:-1.059200pt;}
.lsaa{letter-spacing:-1.058133pt;}
.ls80{letter-spacing:-1.056000pt;}
.ls8a{letter-spacing:-1.050667pt;}
.ls8d{letter-spacing:-1.046933pt;}
.ls6e{letter-spacing:-1.033600pt;}
.ls48{letter-spacing:-1.032533pt;}
.ls84{letter-spacing:-1.018667pt;}
.ls64{letter-spacing:-1.010667pt;}
.ls2{letter-spacing:-1.010133pt;}
.lse8{letter-spacing:-1.006933pt;}
.ls25{letter-spacing:-1.002133pt;}
.ls31{letter-spacing:-1.001600pt;}
.lsc7{letter-spacing:-0.988800pt;}
.ls2e{letter-spacing:-0.987200pt;}
.ls3{letter-spacing:-0.984533pt;}
.lsb1{letter-spacing:-0.977600pt;}
.ls5f{letter-spacing:-0.970667pt;}
.lsd6{letter-spacing:-0.970133pt;}
.ls38{letter-spacing:-0.966400pt;}
.ls2d{letter-spacing:-0.965333pt;}
.ls75{letter-spacing:-0.962667pt;}
.ls9c{letter-spacing:-0.956267pt;}
.ls60{letter-spacing:-0.952000pt;}
.lsb8{letter-spacing:-0.949867pt;}
.lsd9{letter-spacing:-0.946133pt;}
.lsac{letter-spacing:-0.940800pt;}
.lsaf{letter-spacing:-0.939200pt;}
.ls82{letter-spacing:-0.936000pt;}
.lsd5{letter-spacing:-0.932800pt;}
.ls6d{letter-spacing:-0.928000pt;}
.lse7{letter-spacing:-0.925333pt;}
.ls6f{letter-spacing:-0.923733pt;}
.ls51{letter-spacing:-0.920533pt;}
.lsb3{letter-spacing:-0.897600pt;}
.ls1b{letter-spacing:-0.896000pt;}
.ls35{letter-spacing:-0.892267pt;}
.lsd3{letter-spacing:-0.888000pt;}
.lsa4{letter-spacing:-0.873067pt;}
.ls8f{letter-spacing:-0.867733pt;}
.ls5a{letter-spacing:-0.866667pt;}
.lsb2{letter-spacing:-0.858133pt;}
.ls1c{letter-spacing:-0.856533pt;}
.lscd{letter-spacing:-0.853867pt;}
.ls20{letter-spacing:-0.853333pt;}
.ls4d{letter-spacing:-0.852800pt;}
.ls78{letter-spacing:-0.848000pt;}
.lsae{letter-spacing:-0.846400pt;}
.lsb4{letter-spacing:-0.829867pt;}
.ls8c{letter-spacing:-0.823467pt;}
.ls8b{letter-spacing:-0.819200pt;}
.lsbf{letter-spacing:-0.814933pt;}
.lsb0{letter-spacing:-0.803200pt;}
.lsb6{letter-spacing:-0.801067pt;}
.ls7b{letter-spacing:-0.792000pt;}
.ls29{letter-spacing:-0.787200pt;}
.lsdf{letter-spacing:-0.786667pt;}
.lse2{letter-spacing:-0.781333pt;}
.lsf3{letter-spacing:-0.779733pt;}
.lsd7{letter-spacing:-0.778667pt;}
.ls33{letter-spacing:-0.776000pt;}
.ls7e{letter-spacing:-0.737600pt;}
.ls7a{letter-spacing:-0.733333pt;}
.lsdb{letter-spacing:-0.721067pt;}
.ls1{letter-spacing:-0.717333pt;}
.lscb{letter-spacing:-0.708267pt;}
.ls2b{letter-spacing:-0.698667pt;}
.ls43{letter-spacing:-0.696533pt;}
.lsb9{letter-spacing:-0.693333pt;}
.ls89{letter-spacing:-0.689067pt;}
.lsbb{letter-spacing:-0.680000pt;}
.ls54{letter-spacing:-0.672000pt;}
.ls56{letter-spacing:-0.668800pt;}
.ls49{letter-spacing:-0.666667pt;}
.ls50{letter-spacing:-0.665600pt;}
.ls8e{letter-spacing:-0.664000pt;}
.ls90{letter-spacing:-0.663467pt;}
.lsf2{letter-spacing:-0.661333pt;}
.ls92{letter-spacing:-0.643733pt;}
.ls5c{letter-spacing:-0.633067pt;}
.ls61{letter-spacing:-0.612267pt;}
.lsba{letter-spacing:-0.610133pt;}
.lsc3{letter-spacing:-0.608000pt;}
.lsab{letter-spacing:-0.606400pt;}
.lsb5{letter-spacing:-0.596267pt;}
.lsd2{letter-spacing:-0.595733pt;}
.lsec{letter-spacing:-0.578133pt;}
.ls47{letter-spacing:-0.570133pt;}
.ls72{letter-spacing:-0.568000pt;}
.ls70{letter-spacing:-0.561600pt;}
.ls53{letter-spacing:-0.558933pt;}
.lsd8{letter-spacing:-0.554667pt;}
.lse4{letter-spacing:-0.549333pt;}
.ls69{letter-spacing:-0.547200pt;}
.ls67{letter-spacing:-0.542400pt;}
.lsee{letter-spacing:-0.516800pt;}
.ls5e{letter-spacing:-0.514667pt;}
.lsbe{letter-spacing:-0.508267pt;}
.lsed{letter-spacing:-0.506133pt;}
.ls4a{letter-spacing:-0.504000pt;}
.ls6a{letter-spacing:-0.490133pt;}
.lsc5{letter-spacing:-0.484267pt;}
.ls73{letter-spacing:-0.480000pt;}
.ls1f{letter-spacing:-0.453333pt;}
.lsea{letter-spacing:-0.448000pt;}
.lse5{letter-spacing:-0.446933pt;}
.ls46{letter-spacing:-0.442667pt;}
.ls4f{letter-spacing:-0.441067pt;}
.ls6c{letter-spacing:-0.418133pt;}
.ls74{letter-spacing:-0.411200pt;}
.lscc{letter-spacing:-0.409600pt;}
.ls3e{letter-spacing:-0.406400pt;}
.lsc1{letter-spacing:-0.388800pt;}
.ls14{letter-spacing:-0.383467pt;}
.ls52{letter-spacing:-0.380800pt;}
.ls55{letter-spacing:-0.362133pt;}
.ls76{letter-spacing:-0.359467pt;}
.lse3{letter-spacing:-0.337600pt;}
.ls7d{letter-spacing:-0.336000pt;}
.lsc0{letter-spacing:-0.332267pt;}
.lsc2{letter-spacing:-0.311467pt;}
.ls57{letter-spacing:-0.283200pt;}
.ls6b{letter-spacing:-0.273600pt;}
.ls68{letter-spacing:-0.251733pt;}
.lsad{letter-spacing:-0.248533pt;}
.lsd4{letter-spacing:-0.238400pt;}
.ls30{letter-spacing:-0.218667pt;}
.ls71{letter-spacing:-0.216533pt;}
.ls1e{letter-spacing:-0.206933pt;}
.lse1{letter-spacing:-0.137600pt;}
.ls65{letter-spacing:-0.118933pt;}
.ls37{letter-spacing:-0.107733pt;}
.ls34{letter-spacing:-0.104533pt;}
.ls32{letter-spacing:-0.100800pt;}
.ls4b{letter-spacing:-0.003200pt;}
.ls7f{letter-spacing:-0.002667pt;}
.ls5{letter-spacing:0.000000pt;}
.ls36{letter-spacing:0.001600pt;}
.lsd1{letter-spacing:0.004267pt;}
.ls12{letter-spacing:0.054933pt;}
.ls5d{letter-spacing:0.097067pt;}
.ls58{letter-spacing:0.099733pt;}
.ls3f{letter-spacing:0.152533pt;}
.ls8{letter-spacing:0.165867pt;}
.ls18{letter-spacing:0.218667pt;}
.ls66{letter-spacing:0.241600pt;}
.ls19{letter-spacing:0.257067pt;}
.ls7{letter-spacing:0.280000pt;}
.ls0{letter-spacing:0.282133pt;}
.ls44{letter-spacing:0.329067pt;}
.ls3c{letter-spacing:0.435733pt;}
.ls45{letter-spacing:0.440533pt;}
.lsd{letter-spacing:0.446933pt;}
.ls11{letter-spacing:0.478400pt;}
.ls9{letter-spacing:0.553600pt;}
.ls40{letter-spacing:0.586667pt;}
.lsf{letter-spacing:0.604267pt;}
.ls21{letter-spacing:0.672000pt;}
.ls3b{letter-spacing:0.712533pt;}
.ls39{letter-spacing:0.740800pt;}
.lsc{letter-spacing:0.812267pt;}
.lsa{letter-spacing:0.833600pt;}
.ls77{letter-spacing:0.864000pt;}
.lse{letter-spacing:0.867733pt;}
.ls15{letter-spacing:0.938133pt;}
.ls24{letter-spacing:0.976000pt;}
.lsa3{letter-spacing:1.043200pt;}
.ls41{letter-spacing:1.072000pt;}
.lsb{letter-spacing:1.317867pt;}
.ls22{letter-spacing:1.431467pt;}
.ls10{letter-spacing:1.707200pt;}
.ls6{letter-spacing:1.749333pt;}
.ls13{letter-spacing:1.968000pt;}
.ls17{letter-spacing:1.984000pt;}
.ls4{letter-spacing:2.624000pt;}
.ls3d{letter-spacing:2.677333pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2045.708800pt;}
._17{width:16.128000pt;}
._1b{width:42.144000pt;}
._10{width:44.784000pt;}
._14{width:47.520000pt;}
._13{width:53.009067pt;}
._3{width:63.456000pt;}
._2{width:133.376000pt;}
._f{width:137.884800pt;}
._35{width:143.413333pt;}
._1{width:148.186667pt;}
._8e{width:166.394667pt;}
._9c{width:173.576533pt;}
._30{width:194.394667pt;}
._2f{width:199.043200pt;}
._a{width:204.854400pt;}
._1a{width:211.930667pt;}
._1c{width:238.566400pt;}
._32{width:245.322667pt;}
._37{width:266.778133pt;}
._62{width:318.752000pt;}
._8{width:322.734933pt;}
._12{width:338.453333pt;}
._34{width:342.006400pt;}
._81{width:374.398933pt;}
._11{width:384.896000pt;}
._16{width:400.128000pt;}
._72{width:406.958933pt;}
._4{width:411.720000pt;}
._6{width:419.164800pt;}
._8f{width:458.022400pt;}
._76{width:478.757333pt;}
._c{width:489.958400pt;}
._6f{width:503.214933pt;}
._5{width:512.315200pt;}
._18{width:515.328000pt;}
._6b{width:562.246400pt;}
._4b{width:578.239467pt;}
._73{width:586.764800pt;}
._67{width:602.459200pt;}
._7d{width:638.466667pt;}
._7f{width:642.492800pt;}
._5f{width:646.544000pt;}
._1f{width:654.938667pt;}
._74{width:659.148800pt;}
._78{width:690.528000pt;}
._6d{width:702.718933pt;}
._1d{width:714.801600pt;}
._7a{width:718.658133pt;}
._77{width:722.797867pt;}
._63{width:726.712533pt;}
._6e{width:746.752000pt;}
._90{width:750.800000pt;}
._4d{width:754.576000pt;}
._60{width:758.896000pt;}
._27{width:770.582400pt;}
._8a{width:782.608000pt;}
._82{width:798.554133pt;}
._26{width:802.560000pt;}
._22{width:806.393600pt;}
._5e{width:810.931200pt;}
._88{width:814.582400pt;}
._64{width:823.035200pt;}
._24{width:834.293333pt;}
._75{width:838.760533pt;}
._96{width:843.148800pt;}
._66{width:846.264000pt;}
._71{width:850.769600pt;}
._9a{width:854.659200pt;}
._3a{width:858.104000pt;}
._91{width:863.028800pt;}
._61{width:866.624000pt;}
._83{width:870.293333pt;}
._6a{width:874.833067pt;}
._79{width:879.300267pt;}
._25{width:882.832000pt;}
._7e{width:890.259200pt;}
._21{width:894.990933pt;}
._4a{width:898.721067pt;}
._84{width:906.213333pt;}
._3c{width:910.782933pt;}
._33{width:912.409600pt;}
._20{width:918.930667pt;}
._e{width:922.752000pt;}
._6c{width:927.037333pt;}
._80{width:930.426667pt;}
._1e{width:942.605333pt;}
._87{width:945.937600pt;}
._89{width:967.299733pt;}
._65{width:970.422400pt;}
._68{width:982.268800pt;}
._45{width:998.268800pt;}
._54{width:1018.020267pt;}
._98{width:1022.108267pt;}
._36{width:1034.928000pt;}
._9b{width:1050.261333pt;}
._99{width:1054.198933pt;}
._49{width:1067.014933pt;}
._3d{width:1070.448000pt;}
._46{width:1081.880000pt;}
._3b{width:1085.600000pt;}
._3e{width:1090.868267pt;}
._97{width:1094.176000pt;}
._57{width:1098.519467pt;}
._38{width:1102.168000pt;}
._41{width:1109.984000pt;}
._47{width:1121.499733pt;}
._8b{width:1126.851200pt;}
._4c{width:1129.505067pt;}
._28{width:1135.011200pt;}
._2b{width:1137.699200pt;}
._39{width:1142.631467pt;}
._86{width:1146.840000pt;}
._3f{width:1150.037867pt;}
._93{width:1154.522667pt;}
._95{width:1158.048000pt;}
._55{width:1162.528000pt;}
._59{width:1165.815467pt;}
._70{width:1167.433600pt;}
._2c{width:1170.376000pt;}
._69{width:1174.037867pt;}
._42{width:1178.162133pt;}
._23{width:1182.712533pt;}
._29{width:1189.818667pt;}
._44{width:1193.961600pt;}
._8d{width:1202.378667pt;}
._56{width:1206.630400pt;}
._2a{width:1210.604800pt;}
._2e{width:1213.596800pt;}
._92{width:1218.832000pt;}
._53{width:1222.089600pt;}
._51{width:1226.610667pt;}
._2d{width:1230.495467pt;}
._58{width:1234.164800pt;}
._5a{width:1238.560000pt;}
._7b{width:1242.204800pt;}
._48{width:1246.672000pt;}
._40{width:1250.265600pt;}
._4f{width:1254.670400pt;}
._4e{width:1258.211200pt;}
._50{width:1263.302400pt;}
._43{width:1266.272000pt;}
._52{width:1278.147200pt;}
._94{width:1287.062400pt;}
._7c{width:1290.540800pt;}
._5d{width:1295.296000pt;}
._5c{width:1302.392000pt;}
._8c{width:1310.197333pt;}
._7{width:1314.160000pt;}
._85{width:1318.280000pt;}
._5b{width:1346.490667pt;}
._b{width:1349.545600pt;}
._31{width:1423.289600pt;}
._d{width:1445.986133pt;}
._9{width:1496.997867pt;}
._19{width:1568.928000pt;}
._15{width:1838.053333pt;}
.fs1{font-size:48.000000pt;}
.fs0{font-size:64.000000pt;}
.y0{bottom:0.000000pt;}
.y2a{bottom:258.420000pt;}
.y29{bottom:272.820000pt;}
.y28{bottom:287.220000pt;}
.y27{bottom:301.620000pt;}
.y26{bottom:316.020000pt;}
.y25{bottom:388.020000pt;}
.y24{bottom:402.420000pt;}
.y23{bottom:416.820000pt;}
.y22{bottom:431.220000pt;}
.y21{bottom:445.620000pt;}
.y20{bottom:460.020000pt;}
.y1f{bottom:474.420000pt;}
.y1e{bottom:488.820000pt;}
.y1d{bottom:503.220000pt;}
.y1c{bottom:517.620000pt;}
.y1b{bottom:532.020000pt;}
.y1a{bottom:546.420000pt;}
.y19{bottom:560.820000pt;}
.y18{bottom:575.220000pt;}
.y17{bottom:589.620000pt;}
.y16{bottom:604.020000pt;}
.y15{bottom:618.420000pt;}
.y14{bottom:632.820000pt;}
.y13{bottom:647.220000pt;}
.y12{bottom:661.620000pt;}
.y11{bottom:676.020000pt;}
.y10{bottom:690.420000pt;}
.yf{bottom:704.820000pt;}
.ye{bottom:719.220000pt;}
.yd{bottom:733.620000pt;}
.yc{bottom:805.620000pt;}
.yb{bottom:848.820000pt;}
.ya{bottom:863.220000pt;}
.y9{bottom:877.620000pt;}
.y8{bottom:892.020000pt;}
.y7{bottom:906.420000pt;}
.y6{bottom:920.820000pt;}
.y5{bottom:935.220000pt;}
.y4{bottom:949.620000pt;}
.y3{bottom:992.820000pt;}
.y2{bottom:1021.620000pt;}
.y1{bottom:1060.400000pt;}
.h3{height:49.898438pt;}
.h2{height:67.562500pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.x4{left:52.800000pt;}
.x2{left:144.880000pt;}
.x6{left:187.200000pt;}
.x1{left:233.680000pt;}
.x8{left:405.280000pt;}
.x9{left:484.800000pt;}
.x7{left:506.080000pt;}
.xa{left:562.400000pt;}
.x5{left:571.200000pt;}
.x3{left:678.880000pt;}
