#page-leave-application
{
	.leave-description
	{
		color: #999999;
		font-size: 13px;
	}

	.error-message {
		color: #FF0000;
		font-size: 13px;
		margin-bottom: 10px;
	}

	.selected-day {
		background-color: #18b775;
		color: #FFFFFF;
	}

	.fc-time {
		display: none;
	}
}