#audit-details-modal {
    .modal-title {
        .auditable-id {
            color: #bebebe;
        }

    }

    .modal-body {
    	.audit-column {
		    overflow-wrap: break-word;
    	}
    }
}

@media (min-width: 576px) {
	#audit-details-modal {
		.modal-dialog {
		    max-width: 600px;
		}
	}
}
