//1.Container
.content {
    width: calc(100% - 230px);
    position: absolute;
    top: 0;
    right: 0;
}

//2.Scrollbar
::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.fliph {
    display: none;
}

//5.Breadcrumb
ol.breadcrumb {
    border-radius: 0;
    padding: 18px;
    height: 60px;
    font-weight: 600;
}

.justify-end ol.breadcrumb {
    display: flex;
    justify-content: flex-end;
}

//6.Tabs
.nav-tabs {
    overflow-y: hidden;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: transparent;
    border-bottom: 3px solid $detailscolor;
}

//7.preloader
// .card {
// 	display:none;
// }

.content-active {
    width: calc(100%);
}

//8.remove caret
button.dropdown-toggle::after {
    display: none;
}

//10. bulletin
.bulletin {
    overflow-y: scroll;
    height: 400px;
}

//10. bulletin
.bulletin {
    overflow-y: scroll;
    height: 400px;
}

// .calendar-leave {
  

 
//         padding-top: 15pt;
//         padding-bottom: 15pt;
//         padding-right: 15pt;
//         padding-left: 15pt;
//           box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.8);   
//           background-color: #e8eaee;
//           border-inline-end-color: #000;
        
         
//   }