*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}

html a:active,
html a:focus,
body a:active,
body a:focus {
    text-decoration: none!important;
}

html a,
body a {
    outline: none!important;
}

.m-bg-brand {
    background-color: #986780!important;
}

.m-bg-brand-cream {
    background-color: #b484d6 !important;
}

.m-bg-brand-bluish {
    background-color: #78abb2!important;
}

.m-bg-brand-greenish {
    background-color: #6f9398!important;
}

.m-bg-brand-rasberry {
    background-color: #e5a2b3 !important;
}

.m-bg-brand-orange {
    background-color: #e5728f !important;
}

.m-bg-brand-brown {
    background-color: #8e6753 !important;
}


[class*=" la-"] {
    font-size: 1.3rem;
}

[class^="flaticon-"] {
    font-size: 1.3rem;
}

.m-portlet-head-modify{
    padding-top:12pt;
    align-items: center;
    height: 20pt;
}


.m-portlet {
    margin-bottom: 2.2rem;
}

.m-portlet .m-portlet__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    padding: 0 1.2rem 1.2rem;
    height: 5.1rem;
    position: relative;
}

.m-portlet__head-caption{
    width: auto;
}

.m-portlet .m-portlet__head .m-portlet__head-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: end;
    align-content: flex-end;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text {
        font-size: 12pt;
    }
}

.m-portlet {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
    background-color: #fff;
}

.m-portlet .m-portlet__head {
    border-bottom: 1px solid #ebedf2;
}

.m-portlet .m-portlet__head .m-portlet__head-icon {
    color: #b2b1c5;
}

.m-portlet .m-portlet__head .m-portlet__head-text {
    color: #575962;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
    color: #afb0c7;
}

.m-portlet .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
    color: #716aca;
}

.m-portlet .m-portlet__body {
    #color: #575962;
}

.m-portlet.m-portlet--bordered-semi .m-portlet__head {
    border: 0;
}

.m-portlet.m-portlet--skin-dark {
    -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.55);
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.55);
    background-color: #2c2e3e;
}

.m-portlet.m-portlet--skin-dark .m-portlet__head {
    border-bottom: 1px solid #a1a4b1;
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-icon {
    color: #fff;
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-text {
    color: #fff;
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
    color: rgba(255, 255, 255, 0.6);
}

.m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
    color: #fff;
}

.m-portlet.m-portlet--skin-dark .m-portlet__body {
    #color: #fff;
}

.m-portlet.m-portlet--skin-dark.m-portlet--bordered-semi .m-portlet__head {
    border: 0;
}


/*! CSS Used fontfaces */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.engraved-text {
    color: #ececec;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(47, 47, 47, 0.7);
}


.card-header{
    font-weight: bold;
}

.card-footer{
    font-size: 8pt;
}






