.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url('../../../fonts/report/eaForm/f1.woff')format("woff");}  .ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url('../../../fonts/report/eaForm/f2.woff')format("woff");}  .ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000pt;}
.ls46{letter-spacing:-6.304000pt;}
.ls4f{letter-spacing:-2.161067pt;}
.ls50{letter-spacing:-1.883733pt;}
.ls51{letter-spacing:-1.847467pt;}
.ls1e{letter-spacing:-1.682667pt;}
.ls19{letter-spacing:-1.418133pt;}
.ls10{letter-spacing:-1.410133pt;}
.ls3{letter-spacing:-1.344000pt;}
.ls9{letter-spacing:-1.298133pt;}
.ls1d{letter-spacing:-1.264000pt;}
.lsb{letter-spacing:-1.142933pt;}
.ls8{letter-spacing:-1.028800pt;}
.ls48{letter-spacing:-0.998933pt;}
.ls43{letter-spacing:-0.867733pt;}
.ls32{letter-spacing:-0.796800pt;}
.ls14{letter-spacing:-0.734933pt;}
.ls52{letter-spacing:-0.715733pt;}
.ls49{letter-spacing:-0.560000pt;}
.ls6{letter-spacing:-0.551467pt;}
.ls7{letter-spacing:-0.543467pt;}
.ls4c{letter-spacing:-0.523733pt;}
.ls4e{letter-spacing:-0.497067pt;}
.ls16{letter-spacing:-0.491200pt;}
.ls44{letter-spacing:-0.490133pt;}
.ls5{letter-spacing:-0.486933pt;}
.ls11{letter-spacing:-0.475733pt;}
.ls53{letter-spacing:-0.429333pt;}
.ls4d{letter-spacing:-0.405867pt;}
.ls21{letter-spacing:-0.363733pt;}
.ls17{letter-spacing:-0.345600pt;}
.ls13{letter-spacing:-0.287467pt;}
.ls38{letter-spacing:-0.286400pt;}
.ls39{letter-spacing:-0.282667pt;}
.ls22{letter-spacing:-0.272533pt;}
.lsa{letter-spacing:-0.265067pt;}
.ls2{letter-spacing:-0.183467pt;}
.lsd{letter-spacing:-0.168533pt;}
.ls3c{letter-spacing:-0.165333pt;}
.ls28{letter-spacing:-0.140800pt;}
.ls33{letter-spacing:-0.136533pt;}
.ls29{letter-spacing:-0.132267pt;}
.ls3a{letter-spacing:-0.125333pt;}
.ls1b{letter-spacing:-0.114667pt;}
.ls4a{letter-spacing:-0.112533pt;}
.ls31{letter-spacing:-0.102933pt;}
.ls0{letter-spacing:-0.082133pt;}
.ls18{letter-spacing:-0.056000pt;}
.ls30{letter-spacing:-0.050667pt;}
.ls3e{letter-spacing:-0.035200pt;}
.lsf{letter-spacing:0.000000pt;}
.ls40{letter-spacing:0.031467pt;}
.ls2f{letter-spacing:0.035200pt;}
.ls3b{letter-spacing:0.057067pt;}
.ls1a{letter-spacing:0.090667pt;}
.ls25{letter-spacing:0.097067pt;}
.ls3f{letter-spacing:0.124800pt;}
.ls47{letter-spacing:0.130133pt;}
.ls1c{letter-spacing:0.132267pt;}
.ls27{letter-spacing:0.141333pt;}
.ls2b{letter-spacing:0.145067pt;}
.ls37{letter-spacing:0.154133pt;}
.ls2a{letter-spacing:0.155733pt;}
.ls2d{letter-spacing:0.188267pt;}
.ls2e{letter-spacing:0.196800pt;}
.ls3d{letter-spacing:0.200000pt;}
.ls2c{letter-spacing:0.212800pt;}
.ls4{letter-spacing:0.215467pt;}
.ls34{letter-spacing:0.236800pt;}
.ls36{letter-spacing:0.277333pt;}
.ls26{letter-spacing:0.291733pt;}
.ls1f{letter-spacing:0.302400pt;}
.ls41{letter-spacing:0.305067pt;}
.ls20{letter-spacing:0.316800pt;}
.ls15{letter-spacing:0.317333pt;}
.ls42{letter-spacing:0.323733pt;}
.lse{letter-spacing:0.369600pt;}
.ls24{letter-spacing:0.416000pt;}
.ls45{letter-spacing:0.420800pt;}
.ls54{letter-spacing:0.427733pt;}
.ls35{letter-spacing:0.467200pt;}
.lsc{letter-spacing:0.867733pt;}
.ls1{letter-spacing:0.946133pt;}
.ls12{letter-spacing:1.073600pt;}
.ls4b{letter-spacing:1.518400pt;}
.ls23{letter-spacing:1.696000pt;}
.ws0{word-spacing:0.000000pt;}
._f{margin-left:-1535.628800pt;}
._5{width:32.704000pt;}
._7{width:45.994667pt;}
._2{width:48.341333pt;}
._d{width:50.773333pt;}
._6{width:158.984533pt;}
._a{width:230.930133pt;}
._1{width:269.306667pt;}
._e{width:314.965333pt;}
._c{width:365.147733pt;}
._8{width:532.645333pt;}
._b{width:588.851733pt;}
._3{width:610.477333pt;}
._0{width:627.907200pt;}
._9{width:1098.840000pt;}
._4{width:1324.484267pt;}
.fs0{font-size:42.666667pt;}
.fs2{font-size:64.000000pt;}
.fs1{font-size:96.000000pt;}
.y0{bottom:0.000000pt;}
.y51{bottom:110.506667pt;}
.y52{bottom:111.466667pt;}
.y59{bottom:113.386667pt;}
.y58{bottom:133.546667pt;}
.y57{bottom:143.146667pt;}
.y50{bottom:152.746667pt;}
.y56{bottom:154.666667pt;}
.y55{bottom:164.266667pt;}
.y4f{bottom:173.866667pt;}
.y54{bottom:175.786667pt;}
.y4e{bottom:194.986667pt;}
.y53{bottom:196.906667pt;}
.y4c{bottom:233.386667pt;}
.y4d{bottom:236.266667pt;}
.y48{bottom:263.146667pt;}
.y4b{bottom:265.066667pt;}
.y47{bottom:286.186667pt;}
.y4a{bottom:288.106667pt;}
.y46{bottom:306.346667pt;}
.y49{bottom:308.266667pt;}
.y45{bottom:325.546667pt;}
.y3e{bottom:350.506667pt;}
.y44{bottom:352.426667pt;}
.y3d{bottom:369.706667pt;}
.y43{bottom:371.626667pt;}
.y3c{bottom:389.866667pt;}
.y42{bottom:391.786667pt;}
.y3b{bottom:404.266667pt;}
.y3a{bottom:423.466667pt;}
.y41{bottom:425.386667pt;}
.y39{bottom:440.746667pt;}
.y40{bottom:442.666667pt;}
.y38{bottom:458.986667pt;}
.y3f{bottom:460.906667pt;}
.y37{bottom:476.266667pt;}
.y31{bottom:504.106667pt;}
.y36{bottom:505.066667pt;}
.y30{bottom:525.226667pt;}
.y2f{bottom:545.386667pt;}
.y2e{bottom:561.706667pt;}
.y2d{bottom:592.426667pt;}
.y2c{bottom:611.626667pt;}
.y2b{bottom:628.906667pt;}
.y2a{bottom:648.106667pt;}
.y29{bottom:667.306667pt;}
.y28{bottom:684.586667pt;}
.y27{bottom:703.786667pt;}
.y26{bottom:722.026667pt;}
.y35{bottom:724.906667pt;}
.y25{bottom:742.186667pt;}
.y24{bottom:760.426667pt;}
.y23{bottom:778.666667pt;}
.y34{bottom:782.506667pt;}
.y22{bottom:797.866667pt;}
.y33{bottom:801.706667pt;}
.y21{bottom:816.106667pt;}
.y32{bottom:820.906667pt;}
.y1f{bottom:834.346667pt;}
.y20{bottom:836.266667pt;}
.y1d{bottom:841.066667pt;}
.y1e{bottom:845.866667pt;}
.y17{bottom:866.026667pt;}
.y16{bottom:882.346667pt;}
.y14{bottom:888.106667pt;}
.y1c{bottom:891.946667pt;}
.y13{bottom:898.666667pt;}
.y12{bottom:917.866667pt;}
.y1b{bottom:920.746667pt;}
.y11{bottom:935.146667pt;}
.y1a{bottom:938.986667pt;}
.y15{bottom:954.346667pt;}
.y10{bottom:955.306667pt;}
.y19{bottom:957.226667pt;}
.yf{bottom:972.586667pt;}
.y18{bottom:975.466667pt;}
.ye{bottom:989.866667pt;}
.ya{bottom:1013.866667pt;}
.y9{bottom:1033.066667pt;}
.yd{bottom:1034.986667pt;}
.yc{bottom:1036.906667pt;}
.y8{bottom:1047.466667pt;}
.y7{bottom:1051.306667pt;}
.yb{bottom:1054.186667pt;}
.y6{bottom:1065.706667pt;}
.y5{bottom:1066.160000pt;}
.y4{bottom:1072.680000pt;}
.y3{bottom:1081.066667pt;}
.y1{bottom:1083.946667pt;}
.y2{bottom:1084.906667pt;}
.h2{height:44.354167pt;}
.h5{height:45.041667pt;}
.h4{height:67.562500pt;}
.h3{height:101.343750pt;}
.h0{height:1123.200000pt;}
.h1{height:1123.333333pt;}
.w1{width:796.666667pt;}
.w0{width:796.800000pt;}
.x0{left:0.000000pt;}
.x1{left:51.840000pt;}
.xb{left:57.600000pt;}
.xc{left:76.800000pt;}
.x8{left:91.600000pt;}
.x14{left:94.080000pt;}
.xd{left:97.920000pt;}
.x9{left:129.600000pt;}
.x11{left:182.400000pt;}
.x15{left:218.880000pt;}
.x12{left:240.000000pt;}
.x1b{left:264.960000pt;}
.x7{left:270.160000pt;}
.x5{left:301.920000pt;}
.x18{left:306.000000pt;}
.x10{left:312.960000pt;}
.x2{left:357.269200pt;}
.xe{left:408.000000pt;}
.xf{left:425.280000pt;}
.x1c{left:432.000000pt;}
.xa{left:480.000000pt;}
.x3{left:528.000000pt;}
.x1a{left:535.800000pt;}
.x6{left:538.560000pt;}
.x13{left:667.200000pt;}
.x16{left:672.000000pt;}
.x17{left:678.000000pt;}
.x4{left:686.400000pt;}
.x19{left:699.000000pt;}
