.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url('../../../fonts/report/epf_bbcd/f1.woff')format("woff");}.ff1{font-family:ff1;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url('../../../fonts/report/epf_bbcd/f2.woff')format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-2.414400pt;}
.lsa{letter-spacing:-2.204267pt;}
.ls9{letter-spacing:-1.859733pt;}
.ls1e{letter-spacing:-1.796800pt;}
.ls19{letter-spacing:-1.609600pt;}
.ls22{letter-spacing:-1.556267pt;}
.ls5{letter-spacing:-1.487467pt;}
.ls1{letter-spacing:-1.248000pt;}
.ls10{letter-spacing:-1.124800pt;}
.ls4{letter-spacing:-1.078400pt;}
.ls1c{letter-spacing:-1.066667pt;}
.ls11{letter-spacing:-1.056000pt;}
.ls20{letter-spacing:-1.032000pt;}
.ls21{letter-spacing:-0.940800pt;}
.ls17{letter-spacing:-0.834133pt;}
.ls1d{letter-spacing:-0.830400pt;}
.ls1f{letter-spacing:-0.800000pt;}
.ls16{letter-spacing:-0.686400pt;}
.ls1b{letter-spacing:-0.634667pt;}
.lsb{letter-spacing:-0.577600pt;}
.ls18{letter-spacing:-0.569600pt;}
.ls14{letter-spacing:-0.549333pt;}
.ls24{letter-spacing:-0.513067pt;}
.ls13{letter-spacing:-0.491733pt;}
.ls12{letter-spacing:-0.400000pt;}
.ls27{letter-spacing:-0.396800pt;}
.ls3{letter-spacing:-0.346667pt;}
.ls29{letter-spacing:-0.338667pt;}
.ls2a{letter-spacing:-0.291200pt;}
.ls15{letter-spacing:-0.277333pt;}
.lse{letter-spacing:-0.138667pt;}
.ls26{letter-spacing:-0.108267pt;}
.lsf{letter-spacing:-0.085333pt;}
.ls25{letter-spacing:-0.030933pt;}
.lsd{letter-spacing:-0.013867pt;}
.ls1a{letter-spacing:0.000000pt;}
.lsc{letter-spacing:0.056000pt;}
.ls6{letter-spacing:0.091200pt;}
.ls2b{letter-spacing:0.092800pt;}
.ls8{letter-spacing:0.124267pt;}
.ls23{letter-spacing:0.156800pt;}
.ls7{letter-spacing:0.173333pt;}
.ls2{letter-spacing:0.212267pt;}
.ls28{letter-spacing:0.249600pt;}
.ls2c{letter-spacing:0.255467pt;}
.ws0{word-spacing:0.000000pt;}
._5{width:119.456000pt;}
._4{width:122.485333pt;}
._0{width:162.945067pt;}
._6{width:177.608533pt;}
._7{width:212.634667pt;}
._a{width:216.942933pt;}
._1{width:222.066667pt;}
._9{width:312.800000pt;}
._8{width:324.829867pt;}
._3{width:415.840533pt;}
._2{width:438.104000pt;}
.fs1{font-size:42.666667pt;}
.fs0{font-size:53.333333pt;}
.y0{bottom:0.000000pt;}
.y22{bottom:182.826667pt;}
.y21{bottom:202.026667pt;}
.y20{bottom:221.226667pt;}
.y18{bottom:228.669333pt;}
.y1f{bottom:240.426667pt;}
.y1e{bottom:259.626667pt;}
.y17{bottom:260.541333pt;}
.y1d{bottom:278.826667pt;}
.y16{bottom:292.413333pt;}
.y1c{bottom:298.026667pt;}
.y1b{bottom:317.226667pt;}
.y15{bottom:324.285333pt;}
.y1a{bottom:336.426667pt;}
.y19{bottom:355.626667pt;}
.y14{bottom:356.157333pt;}
.y13{bottom:499.581333pt;}
.y12{bottom:515.517333pt;}
.y11{bottom:531.453333pt;}
.y10{bottom:672.957333pt;}
.yf{bottom:720.765333pt;}
.ye{bottom:736.701333pt;}
.yd{bottom:752.637333pt;}
.yc{bottom:768.573333pt;}
.yb{bottom:794.154667pt;}
.ya{bottom:819.882667pt;}
.y9{bottom:832.746667pt;}
.y8{bottom:861.853333pt;}
.y7{bottom:886.653333pt;}
.y6{bottom:918.525333pt;}
.y5{bottom:966.333333pt;}
.y4{bottom:1017.642667pt;}
.y3{bottom:1030.506667pt;}
.y2{bottom:1046.706667pt;}
.y1{bottom:1062.706667pt;}
.h3{height:44.354167pt;}
.h4{height:55.442708pt;}
.h2{height:56.302083pt;}
.h0{height:1122.560000pt;}
.h1{height:1122.666667pt;}
.w0{width:793.760000pt;}
.w1{width:794.000000pt;}
.x0{left:0.000000pt;}
.xa{left:67.200000pt;}
.x9{left:148.800000pt;}
.x7{left:157.520000pt;}
.x8{left:187.569200pt;}
.x3{left:223.280000pt;}
.x4{left:230.640000pt;}
.x6{left:236.960000pt;}
.x5{left:248.080000pt;}
.x2{left:253.600000pt;}
.xc{left:528.000000pt;}
.xb{left:624.000000pt;}
.x1{left:633.600000pt;}
